{% extends 'Base.html' %}
{% block body %}
<body>
    <div class="profile">
        <h1>{{user}}'s profile</h1>
        <div style="border-bottom: 2px solid #b1e426;margin-bottom: 1rem;width: 100%;text-align: center;" class="info">
            <p style="opacity: 0;max-height: 1px;">s</p>
            <h2>{{info}}</h2>
        </div>
        <form method="POST" action="" id="removeform">{%csrf_token%}</form>
        <div class="btns-div">
            <a href="?removeall=removeall"><div class="btns" name="removeall" value="removeall" form="removeform">A</div></a>
            <button style="clear: both;" type="submit" form="removeform"><div class="btns">S</div></button>
            <a href="/profile"><div class="btns"><--</div></a>
        </div>
        <div class="notes">
            {% for noteid,note in notes %}
            <label>
                <input form="removeform" type="checkbox" name="noterm{{noteid}}" value="{{noteid}}">
                <div class="note">{{noteid}}<br>{{note.notes}}</div>
            </label>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}