/* Base */
body{
    background-color: #333333;
    color: #e95050;
    font-size: 180%;
}
*,*:focus{
    outline: none;
}
h1{
    text-align: center;
}
a:hover, a{
    color: #e95050;
    text-decoration: none;
}
.mainpage{
    margin: auto;
    width: min-content;
}
.profile{
    margin: 2% auto;
    width: 98%;
}
.createbtn{
    border-radius: 50%;
    background-color: #e95050;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    color: #d8d8d8;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: initial;
    font-weight: 600;
}
.removebar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b1e426;
}
label input{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
}
label input:checked ~ .note{
    background-color: #e9505080;
}
button{
    transition: color 0.3s ease-in-out;
    background-color: #00000000;
    font-size: 80%;
    color: #e95050;
    border: none;
    cursor: pointer;
    line-height: 45px;
}
button:hover,button:focus{
    outline: none;
    color: #b1e426;
}
input{
    padding-left: 1%;   
    transition: border-bottom 0.3s ease-in-out;
    background-color: #222222;
    color: #b6b6b6;
    font-size: 90%;
    border: 1px solid #00000000;
    border-radius: 10px;
}
input:focus,input:hover{
    border-bottom: 1px solid #b1e426;
}
.note{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #222222;
    border: none;
    resize: none;
    border-radius: 10px;
    border-bottom: 2px solid #b1e42600;
    color: #d8d8d8;
    padding: 0.5rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: min-content;
    max-width: 100%;
}
.note:hover{
    border-bottom: 2px solid #b1e426;
}
.note::first-line{
    color: #e95050;
}
.notes{
    display: flex;
    flex-wrap: wrap;
}
.notes > *{
    font-size: initial !important;
    margin: 0.25rem 0.25rem;
    max-width: 100%;
}
.editor{
    width: 100%;
    height: 400px;
    background-color: #222222;
    color: #d8d8d8;
    border: none;
    resize: none;
    font-size: 90%;
    border-radius: 10px;
}
.info{
    color: #b1e426;
    margin: auto;
    width: max-content;
}
.searchinput{
    padding-left: 1%;
    font-size: 65%;
}