{% extends 'Base.html' %}
{% block body %}
<body style="margin-right: 30px;margin-top: 30px;margin-left: 30px;">
    <h1 style="float: left;padding-right: 10px;">Edit the note:<h1 style="color: #b1e426;">{{info}}</h1></h1>
    <form method="POST" action="">
        {%csrf_token%}
        <textarea autofocus name="note" class="editor">{{note.notes}}{{new_note}}</textarea><br><br>
        <button type="submit">Save</button>
        <a href="/profile/"><button style="float: right;" type="button">Back to profile</button></a>
    </form>
</body>
{% endblock %}