{% extends 'Base.html' %}
{% block body %}
<body>
    <div class="profile">
        <h1>{{user}}'s profile</h1><br>
        <div class="info">
            <h2>{{info}}</h2>
        </div><br>
        <form method="POST" action="" id="removeform">{%csrf_token%}</form>
        <div class="removebar">
            <a style="float: left;" href="/profile"><button>Profile</button></a>
            <button type="submit" form="removeform">Remove</button>
            <a href="?removeall=removeall" style="float: right;"><button name="removeall" value="removeall" type="button" form="removeform">Remove all</button></a>
        </div>
        <div class="removelist">
            <ul>
                {% for noteid,note in notes %}
                <li>
                    <label>
                        <input form="removeform" type="checkbox" name="noterm{{noteid}}" value="{{noteid}}">
                        <div class="notes">{{note.notes}}</div>
                    </label>
                </li>
                {% endfor %}
                </form>
            </ul>
        </div>
    </div>
</body>
{% endblock %}