{% extends 'Base.html' %}
{% block body %}
<body class="centerBody">
    <form method="GET" action="/" id=logIn></form>
    <form method="POST" action=""><br>
        {%csrf_token%}
        <label style="margin-left: -310px;" for="email">Email:</label><br>
        <input type="email" name="email" oninvalid="this.setCustomValidity('Email requierd')"
        oninput="this.setCustomValidity('')" required><br><br>
        <label for="username">Username:</label><br>
        <input type="text" name="user" oninvalid="this.setCustomValidity('Username requierd')"
        oninput="this.setCustomValidity('')" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" name="passwd" oninvalid="this.setCustomValidity('Password requierd')"
        oninput="this.setCustomValidity('')" required><br><br>
        <p class="info">{{info}}</p>
        <button style="right: 50px;" type="submit">Sign up</button>
        <button style="left: 50px;" type="submit" form="logIn">Log in instead</button>
    </form>
</body>
{% endblock %}